<div class ="header">
    <div class="header__container">
       
        <div class="header__main">
            <div class="header__logo">
                <H1>LOGO</H1>
            </div>
            <div class="header__search">
                    <P>BUSCADOR:</P>
            </div>
          
   
        </div>

            <div class="header__nav">

                <ul class ="header__ul">
                    <li class="header__li">{{menu.home}}</li>
                        <ul class="header__menu">
                            <li class="header__options">Holiiii</li>
                            <li class="header__options">Holiiii</li>

                        </ul>
                    
                    <li class="header__li">{{menu.men}}</li>
                    <li class="header__li">{{menu.women}}</li>
                    <li class="header__li">{{menu.contact}}</li>
                </ul>


            </div>

    </div>

</div>

