
<form novalidate (ngSubmit)="onSubmit()" [formGroup]="formGallery">
   
      <fieldset>
      <label for="img">imagen:</label>
      <input type="text" id="img" formControlName="img">
        
      <div *ngIf="!formGallery.get('img').valid &&
          (formGallery.get('img').dirty || submitted)">
        Has introducido mal tu nombre
      </div>
    </fieldset>
    <fieldset>
        <label for="alt">alt:</label>
        <input type="text" id="alt" formControlName="alt">

        <div *ngIf="!formGallery.get('alt').valid &&
            (formGallery.get('alt').dirty || submitted)">
          Has introducido mal tu alt
        </div>
      </fieldset>
      <fieldset>
        <label for="description">description:</label>
        <input type="text" id="description" formControlName="description">

        <div *ngIf="!formGallery.get('description').valid &&
            (formGallery.get('description').dirty || submitted)">
          Has introducido mal tu description
        </div>
      </fieldset>
      <fieldset>
        <label for="price">price:</label>
        <input type="text" id="price" formControlName="price">
    
        <div *ngIf="!formGallery.get('price').valid &&
            (formGallery.get('price').dirty || submitted)">
          Has introducido mal tu precio
        </div>
      </fieldset>
      <fieldset>
        <label for="color">color:</label>
        <input type="text" id="color" formControlName="color">
           
        <div *ngIf="!formGallery.get('color').valid &&
            (formGallery.get('color').dirty || submitted)">
          Has introducido mal tu color
        </div>
      </fieldset>
	<button type="submit" [disabled]="!formGallery.valid">Submit</button>

</form>
